inst/doc
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

.betabeta/Analysis/log6.txt
.betabeta/Analysis/log8.txt
.betabeta/Analysis/log1.txt
.betabeta/Analysis/log3.txt
*.rds
*.txt
*.rds
.phat_all.rds
